<% alpha = 0.99/@draws.length + 0.1 %>
<style type="text/css"> 
	#draws {
		position:relative;
	}
	#draws li {
		position:absolute;
		top:0;
		left:0;
		opacity:<%= alpha %>;
	}
</style>
<h1>Le quartier latin selon les parisiens</h1>

<ul id="draws">
  <% @draws.each do |draw| %>

    <li>
	<img src="/images/img_<%= draw.id %>.png"/>
    </li>
  <% end %>
</ul>

<style type="text/css">
	

	*{
	    margin:0;
	    -webkit-user-select: none;
	    font-family: Georgia, sans-serif;
	}
	
	body {
		background-color:#eee;
	}
	
	canvas{
	    cursor: crosshair;
	    border:black solid 1px;
	 }
	#clr div{
	    cursor:pointer;
	    cursor:hand;
	    width:20px;
	    height:20px;
	    float:left;
	}
	#draws {
		background : transparent url("/images/map.png") no-repeat 0 0 scroll;
		width:960px;
		height :643px;
		margin:0 auto;
		position:relative;
	}
	#can {
		width:960px;
		height:643px;
		position:relative;
	}

</style>