<% alpha = 0.99/@draws.length + 0.1 %>
<style type="text/css"> 
	#draws {
		position:relative;
	}
	#draws li {
		position:absolute;
		top:0;
		left:0;
		opacity:<%= alpha %>;
	}
</style>
<h1>LOCALISATION DU QUARTIER LATIN</h1>

	<ul id="draws">
  		<% @draws.each do |draw| %>

    	<li class="<%= draw.info_id %>">
			<img src="<%= draw.data %>"/>
    	</li>
  		<% end %>
	</ul>

