<!DOCTYPE html>
<html>
<head>
  <title>LatinQuarterApp</title>
<style type="text/css">


	*{
	    margin:0;
	    -webkit-user-select: none;

	}

	body {
/*		background-color:#eee;*/
		font-family: helvetica, arial, sans-serif;
		color:#333;
		overflow-x:hidden;
	}
	#container {
		margin:40px 30px;
		padding:30px 0px;
		overflow:auto;
		max-width:1102px;
	}
	h1 {
		font-size:26px;
		font-weight:900;
		text-transform:uppercase;
		padding:0 0 26px;
		
		
	}
	canvas{
	    cursor: crosshair;
	    border:black solid 1px;
	 }
	#clr div{
	    cursor:pointer;
	    cursor:hand;
	    width:20px;
	    height:20px;
	    float:left;
	}

	#draws li{
		list-style:none;
	}
	#draws,#can {
		width:1100px;
		height:1026px;
		background : transparent url("/images/map.png") no-repeat 0 0 scroll;
		position:relative;
		margin:0 0 8px;
	}
	.hidden {
		display:none;
	}

	#clear, #draw_submit {
		background-color:#fff;
		font-size:16px;
		color:#000;
		float:left;
		padding:6px;
		border:1px solid #000;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		cursor:pointer;
		text-decoration:none;
	}
	#clear:hover, #draw_submit:hover {
		background-color:#000;
		color:#fff;
	}
	#draw_submit {
		float:right;
		padding:3px 6px 4px;
	}
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


<script type="text/javascript">
jQuery.noConflict();
 
jQuery(document).ready(function() {
        var draw= false;
       
        var canvas = jQuery("#can");
        var ctx = canvas[0].getContext("2d");
		var offSet;

        ctx.strokeStyle = 'red';

        //set it true on mousedown
        jQuery("#can").mousedown(function(){
					draw=true;
					offSet = jQuery("#can").offset();

				});

        //reset it on mouseup
        jQuery("#can").mouseup(function(){draw=false;});

        jQuery("#can").mousemove(function(e) {
            if(draw==true){

                    ctx.lineWidth = 20;
                    ctx.lineCap = "square";
                    ctx.beginPath();
                    ctx.moveTo(e.pageX - offSet.left ,e.pageY-offSet.top);
                    ctx.lineTo(e.pageX- offSet.left+1,e.pageY-offSet.top+1);
                    ctx.stroke();
            }    
       });

        
       //code for color pallete
        jQuery("#clr > div").click(
        function(){
               ctx.strokeStyle = jQuery(this).css("background-color");
        });
     
        //Eraser
        jQuery("#eraser").click(function(){
        ctx.strokeStyle = 'transparent';
        });

        //Code for save the image
        jQuery("#save").click(function(){ 
            jQuery("#result").append("<br /><br /><img src="+
            canvas[0].toDataURL()+ 
           " /><br /><a href="+canvas[0].toDataURL()+ 
           " target='_blank'>show</a>");
        });

        jQuery("#draw_submit").click(function(){ 
            jQuery("#draw_data").val(canvas[0].toDataURL());
            jQuery("#new_draw").submit();
			return false
        });
     
        //Clear 
        jQuery("#clear").click(function(){
                // ctx.fillStyle = "#fff";
				ctx.clearRect ( 0 , 0 , 960 , 643 );
                // ctx.fillRect(0, 0, canvas[0].width, canvas[0].height);
                ctx.strokeStyle = "red";
                ctx.fillStyle = "red";
            }
            );
});




	
</script>
  <%= csrf_meta_tag %>
</head>
<body>
      <section class="round">
		<div id="container">
        	<%= yield %>
        	<% flash.each do |key, value| %>
          	<div class="flash <%= key %>"><%= value %></div>
        	<% end %>
		</div>
      </section>


</body>
</html>
